<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
   <div id="header">
        <div id="topo">
            <div class="img_topo"><img src="{{ url_for('static', filename='img/buscape') }}" alt="buscape" id="img_buscape"></div>   

            <div class="img_topo"> <img src="{{url_for('static', filename='img/burgue')}}" alt="burgue" id="burgue"></div>
        </div>
        <div id="carrinho_itens">
            {% for produto in lista_carrinho %}
            <div id="item_carrinho">
                
                <div>
                    <div>
                    {% for img in produto.get_imagens()%}
                    <img src="img" alt="img">
                    {% endfor %}
                    </div>
                    <h2 id="nome_prod_carrinho">{{ produto.get_nome() }}</h2>
                    <p>{{ produto.get_parcela() }}X  R${{ produto.get_valParcela() }}</p>
                    <p>preços: {{ produto.get_preco() }}</p>
                </div>
                <div>
                    <a href="{{ url_for('remover', id=produto.get_id()) }}">X </a>
                </div>
            </div>

            {% endfor %}
        </div>

    </div>
   <div>
    {% for produto in lista_produtos %}
        <div id="produtos">
            <div>img</div>
            <div>
                <p>nome: {{ produto.get_nome() }}</p>
                <p id="melhorP">MELHOR PREÇO</p>
                <p>{{ produto.get_parcela() }}X  R${{ produto.get_valParcela() }}</p>
                <p>preços: {{ produto.get_preco() }}</p>
                <a href="{{url_for('adicionar', id=produto.get_id())}}">Adcionar ao carrinho ></a>
            </div>
            
        </div>
    {% endfor %}

   </div>


   <script>
        var status = 0
        var burgue = document.getElementById("burgue");
        burgue.addEventListener("click", function() {
            var barrinha = document.getElementById("carrinho_itens")
            if (status == 0){
                barrinha.style.display = "block";
                status = 1;
            }else{
                barrinha.style.display = "none";
                status = 0;
            }
        });
   </script>

</body>
</html>