body {
    background-color:whitesmoke;
    font-family: sans-serif;
}

div#topo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.img_topo{
    margin: 2%;
}

img#burgue {
    width: 50px;
}

img#img_buscape {
    width: 100px;
}

div#header {
    background-color: yellow;
}

div#produtos {
    background-color: white;
    display: block;
    margin-top: 1%;
}

div#carrinho_itens{
    display: none;
    background-color: rgb(206, 206, 2);
}

div#item_carrinho{
    background-color: rgb(173, 173, 3);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:1%; 
}

h2#nome_prod_carrinho{
    color: white;
    font-size: 14pt;
    
}